.hex {
    margin-top: 60px;
    width: 208px;
    height: 120px;
    background-color: #6C6;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 9px;
    display: inline-block;
}

.hex:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 60px solid #6C6;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
    top: -60px;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -60px;
    border-top: 60px solid #6C6;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
}

.hex-row {
    clear: both;
    z-index: -1;
}

.hex-row.even {
    margin-left: 109px;
}

.hexes {
    margin: 40px auto;
    max-width: 900px;
}

.hex:nth-child(7n-2) {
    margin-left: 119px;
}

@media (max-width: 1150px) {
    .hex:nth-child(7n-2) {
        margin-left: 10px;
    }
    .hex:nth-child(5n-1) {
        margin-left: 119px;
    }
}

@media (max-width: 862px) {
    .hex:nth-child(7n-2) {
        margin-left: 10px;
    }
    .hex:nth-child(5n-1) {
        margin-left: 10px;
    }
    .hex:nth-child(3n) {
        margin-left: 119px;
    }
}

@media (max-width: 574px) {
    .hex:nth-child(7n-2) {
        margin-left: 10px;
    }
    .hex:nth-child(5n-1) {
        margin-left: 10px;
    }
    .hex:nth-child(3n) {
        margin-left: 10px;
    }
    .hex:nth-child(even) {
        margin-left: 119px;
    }
}
