body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#home {
  width: 100%;
  height: 650px;
  float: left;
  background: url(../img/loch-ness.jpg) no-repeat center top fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  width: 100%;
  position: fixed;
  left:0;
  top: 0;
  text-align: center;
  color: black;
}

#header #name {
  position: absolute;
  left: inherit;
  margin: 15px 20px 0 5%;
  font-family: 'Homemade Apple', cursive;
  text-transform: lowercase;
  font-size: 18px;
}

#header #nav {
  display: inline-block;
  padding: 0;
  list-style-type: none;
  margin: 24px auto;
}

@media (max-width: 800px) {
    #header #name {
      position: relative;
      left: auto;
      display: block;
      margin: 15px auto 0 auto;
    }
    #header #nav {
      margin: 15px auto;
    }
}

#header li {
  display: inline;
  text-transform: uppercase;
  margin: 0 20px 0 20px;
}

a {
  text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #404040;
}

a:active {
    color: black;
}

#about {
  width: 100%;
  height: 1000px;
  clear: left;
}

#about #about-image {
  border-radius: 175px;
  height: 350px;
  width: 350px;
  float: left;
  margin: 80px 0 5px 5%;
  padding: 0;
}
