body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#home {
  width: 100%;
  height: 650px;
  float: left;
  background: url(../img/loch-ness.jpg) no-repeat center top fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/loch-ness.jpg) 0 0 no-repeat fixed !important;
  background-size: contain;
  display: none;
}

header {
  width: 100%;
  position: fixed;
  left:0;
  top: 0;
  text-align: center;
  color: #303030;
}

header #name {
  position: absolute;
  left: inherit;
  margin: 15px 20px 0 5%;
  font-family: 'Homemade Apple', cursive;
  text-transform: lowercase;
  font-size: 18px;
}

header #nav {
  display: inline-block;
  padding: 0;
  list-style-type: none;
  margin: 24px auto;
}

header li {
  display: inline;
  text-transform: uppercase;
  margin: 0 20px 0 20px;
}

a {
  text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #686868;
}

a:active {
    color: inherit;
}

#about {
  width: 100%;
  height: 1000px;
  clear: left;
  padding: 75px 5% 75px 5%;
}

#about img {
  border-radius: 175px;
  height: 350px;
  width: 350px;
  float: left;
}

@media (max-width: 800px) {
    header #name {
      position: relative;
      left: auto;
      display: block;
      margin: 15px auto 0 auto;
    }
    header #nav {
      margin: 15px auto;
    }
    #about {
      padding: 75px 0 75px 0;
    }
    #about img {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
}


