@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
       -o-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

.hexes {
    margin: 30px auto 75px auto;
    max-width: 863px;
}

.hex {
    width: 200px;
    height: 230px;
    position: relative;
    margin-left: 10px;
    margin-bottom: -48px;
    display: inline-block;
}

.hex-left {
    position: absolute;
    width: 200px;
    height: 400px;
    top: -85px;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;

    @include transform(rotate(120deg));
}

.hex-right {
    overflow: hidden;
    width: 100%;
    height: 100%;

    @include transform(rotate(120deg));
}

.hex-vert {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    background-size: auto 230px;
    opacity: .7;

    @include transform(rotate(120deg));
}

.hex-vert:hover {
    opacity: 1;
}

.empty {
    background: #ADD8E6;
    opacity: .5;

    &:hover {
        opacity: .5;
    }
}

.text-shape {
    height: 115px;
    width: 160px;
    padding: 0 20px 0 20px;
    margin-top: 143px;
    // working on this polygon method
    // -webkit-shape-inside: polygon(0px 57.5px, 100px 0px, 200px 57.5px, 200px 172.5px, 100px 230px, 0px 172.5px);
    position: absolute;
    line-height: 115px;
    text-align: center;

    &:hover {
        color: inherit;
        cursor: pointer;
    }

    span {
        color: inherit;
        font-size: 24px;
        font-weight: inherit;
        text-transform: lowercase;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

        .description {
            font-size: 16px;
            margin-top: 16px;
        }
    }
}

// deal with indenting second line of hexes

.hex:nth-child(7n-2) {
    margin-left: 117px;
}

@media (max-width: 1165px) {
    .hex:nth-child(7n-2) {
        margin-left: 10px;
    }
    .hex:nth-child(5n-1) {
        margin-left: 117px;
    }
    .hexes {
        width: 650px;
    }
}

@media (max-width: 862px) {
    .hex:nth-child(7n-2) {
        margin-left: 10px;
    }
    .hex:nth-child(5n-1) {
        margin-left: 10px;
    }
    .hex:nth-child(3n) {
        margin-left: 117px;
    }
    .hexes {
        width: 425px;
    }
}

@media (max-width: 574px) {
    .hex:nth-child(7n-2) {
        margin-left: 10px;
    }
    .hex:nth-child(5n-1) {
        margin-left: 10px;
    }
    .hex:nth-child(3n) {
        margin-left: 10px;
    }
    .hex:nth-child(even) {
        margin-left: 117px;
    }
    .hexes {
        width: 325px;
    }
}
