body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#home {
  width: 100%;
  height: 600px;
  float: left;
  background: url("images/beach.jpg") no-repeat center bottom fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  width: 100%;
  float: left;
  background-color: white;
  opacity: 0.6;
  position: fixed;
  top:0;
  left:0;
}

#header #name {
  padding: 0;
  float: left;
  margin-left: 5%;
}

#header #nav {
  padding: 0;
  float: right;
  margin-right: 5%;
}

#header li {
  display: inline-block;
  text-transform: uppercase;
  margin: 8px 20px 8px 20px;
  color: black;
}

#header #name li {
  font-family: 'Homemade Apple', cursive;
  text-transform: lowercase;
  font-size: 18px;
  margin: 0px 20px 0px 20px;
}

a {
  text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #404040;
}

a:active {
    color: black;
}

#about {
  width: 100%;
  height: 1000px;
  /*background-color: #d4dbe4;*/
  background-color: #bbc5d1;
  clear: left;
}

#about .content {
  padding: 15px 5% 15px 5%;
}

#about .content h2 {
  color: #404040;
  font-size: 30px;
  /*border: solid;*/
  font-family: 'Homemade Apple', cursive;
  margin: 0;
}

#about #about-image {
  border-radius: 175px;
  height: 350px;
  width: 350px;
  float: left;
  margin: 0 0 5px 0;
  padding: 0;
}

#about .text {
  float: right;
  /*border: solid;*/
}

#about .image-list {
  clear: left;
  width: 100%;
  /*border: solid;*/
}
